:root {
  --main-bg: linear-gradient(180deg, #bec5ff 0%, #c0ffe8 99.99%, #ffc1f1 100%);
  --body-bg: #202020;
  --header-bg: linear-gradient(
    180deg,
    #d57feb 0%,
    rgba(255, 251, 210, 0.55) 100%
  );
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
  height: 100vh;
}

body {
  background-color: var(--body-bg);
  color: #e2e2e2;
  font-family: sans-serif;
  height: 100vh;
}

.container {
  background: var(--main-bg);
}

.content {
  max-width: 144rem;
  margin: 0 auto;
  padding: 10%;
  height: 100vh;
}

header {
  width: 100%;
  padding: 4rem 6rem;
  margin: 0 auto;
  background: var(--header-bg);
}

.cards {
  padding: 2rem;
  gap: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card.n_one {
  position: relative;
  top: -4rem;
}

.card h2 {
  font-size: 3rem;
  font-weight: 700;
}

.card p {
  display: flex;
  flex-direction: column;
}

.card p .number {
  color: #fff;
  font-weight: 700;
  font-size: 4rem;
}

.card.n_one p span {
  align-self: center;
}

.card.n_two p span {
  align-self: flex-end;
  margin-right: 4rem;
}

.card.n_three p span {
  margin-left: 4rem;
}

.card.n_two h2,
.card.n_three h2 {
  text-align: center;
}

.card a {
  display: block;
  max-width: 20rem;
  border-radius: 50%;
}

.card a img {
  display: block;
  width: 100%;
}

/* Users list */

.ulist {
  background-color: red;
  display: grid;
}

.ulist .cells .user {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.ulist .cells .user .col_number {
  padding: 1rem 2rem;
  border: 1px solid #000;
  border-right: none;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.ulist .cells .user .col_number img {
  width: 100%;
  max-width: 10rem;
}

.ulist .cells .user .col_number p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ulist .cells .user .col_number p .number {
  font-size: 3rem;
  color: #f2f2f2;
}

.ulist .cells .user .col_username {
  border: 1px solid #000;
  border-right: none;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ulist .cells .user .col_username {
  color: #f2f2f2;
  font-size: 3rem;
}
