:root {
  --main-bg: linear-gradient(180deg, #5460f5 0%, #d2d2ff 100%);
  --body-bg: #202020;
  --header-bg: linear-gradient(180deg, #ebd77f 0%, #ffeea4 100%);
  --card-bg: #dd3311;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
  height: 100vh;
}

body {
  background-color: var(--body-bg);
  color: #e2e2e2;
  font-family: sans-serif;
  height: 100vh;
}

.container {
  background: var(--main-bg);
}

.content {
  max-width: 144rem;
  margin: 0 auto;
  padding: 10%;
  height: 100vh;
}

header {
  width: 100%;
  padding: 4rem 6rem;
  margin: 0 auto;
  background: var(--header-bg);
}

.cards {
  padding: 2rem;
  gap: 2rem;
  background-color: var(--card-bg);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  color: #202020;
}

.card.n_one {
  position: relative;
  top: -4rem;
}

.card h2 {
  font-size: 3rem;
  font-weight: 700;
}

.card p {
  display: flex;
  flex-direction: column;
}

.card p .number {
  color: #fff;
  font-weight: 700;
  font-size: 4rem;
}

.card.n_one p span {
  align-self: center;
}

.card.n_two p span {
  align-self: flex-end;
  margin-right: 4rem;
}

.card.n_three p span {
  margin-left: 4rem;
}

.card.n_two h2,
.card.n_three h2 {
  text-align: center;
}

.card a {
  display: block;
  width: 20rem;
  border-radius: 50%;
}

.card a img {
  display: block;
  width: 100%;
}
